<div class="people">
  <div class="people_box">
    @for (people of peopleSig().results; track $index) {
      <app-card>
        <ng-template #headerTemplate>
          <mat-card-header>
            <mat-card-title>{{ people.name }}</mat-card-title>
            <mat-card-subtitle>{{ people.gender }}</mat-card-subtitle>
          </mat-card-header>
        </ng-template>

        <ng-template #contentTemplate>
          <p>Height: {{ people.height }} cm</p>
          <p>Mass: {{ people.mass }} kg</p>
          <p>Hair Color: {{ people.hair_color }}</p>
          <p>Skin Color: {{ people.skin_color }}</p>
          <p>Eye Color: {{ people.eye_color }}</p>
          <p>Birth Year: {{ people.birth_year }}</p>
        </ng-template>
      </app-card>
    }
  </div>

  <mat-paginator
    [length]="peopleSig().count"
    [pageSize]="pageSize"
    (page)="handlePageEvent($event)"
  ></mat-paginator>
</div>
