/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-icon{
  font-family: 'Material Icons' !important;
}

$purple: #673ab7;
$whiteColor: white;

mat-card {
  width: 18%;
  color: $whiteColor;
  background: rgba($color: $purple, $alpha: .7) !important;

  &-title,
  &-subtitle {
    color: #fee503;
  }
}

.mat-mdc-button,
.mat-mdc-card-subtitle {
  color: $whiteColor !important;
}

@media (max-width: 1000px) {
  mat-card {
    width: 30%;
  }
}

@media (max-width: 768px) {
  mat-card {
    width: 45%;
  }
}
@media (max-width: 576px) {
  mat-card {
    width: 100%;
  }
}

mat-paginator {
  background: rgba($color: $purple, $alpha: .7) !important;
  color: $whiteColor !important;
  width: 50%;
  margin: 1rem auto;
}
@media (max-width: 1000px) {
  mat-paginator {
    position: fixed;
    bottom: 2rem;
    right: 10%;
    width: 30%;
  }
}

.mat-mdc-paginator-page-size {
  display: none !important;
}
.mat-mdc-paginator-container {
  justify-content: center !important;
}
html {
  --mat-paginator-enabled-icon-color: rgba($color:  $whiteColor, $alpha: 1);
}
.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
  fill: rgba($color:  $whiteColor, $alpha: .3) !important;
}

app-card {
  width: 30%;
}
@media (max-width: 1000px) {
  app-card {
    width: 45%;
  }
}

@media (max-width: 576px) {
  app-card {
    width: 100%;
  }
}
