<div class="planets">
  <div class="planets_box">
    @for (planet of planetsSig().results; track $index) {
      <app-card>
        <ng-template #headerTemplate>
          <mat-card-header>
            <mat-card-title>{{ planet.name }}</mat-card-title>
            <mat-card-subtitle>Population: {{ planet.population }}</mat-card-subtitle>
          </mat-card-header>
        </ng-template>

        <ng-template #contentTemplate>
          <p>Climate: {{ planet.climate }}</p>
          <p>Terrain: {{ planet.terrain }}</p>
          <p>Gravity: {{ planet.gravity }}</p>
          <p>Surface Water: {{ planet.surface_water }}%</p>
          <p>Rotation Period: {{ planet.rotation_period }} hours</p>
          <p>Orbital Period: {{ planet.orbital_period }} days</p>
          <p>Diameter: {{ planet.diameter }} km</p>
        </ng-template>
      </app-card>
    }
  </div>

  <mat-paginator
  [length]="planetsSig().count"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)"
></mat-paginator>
</div>
